<!--  -->
<main>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Tour List</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Name</th>
							<th scope="col">Location</th>
							<th scope="col">Price</th>
							<th scope="col">Duration</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let tour of tours">
							<td>{{ tour.tourDate }}</td>
							<td>{{ tour.tourName }}</td>
							<td>{{ tour.tourLocation }}</td>
							<td>{{ tour.tourPrice }}</td>
							<td>{{ tour.tourDuration }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div>
			<label for="date">Date</label>
			<input
				type="date"
				id="date"
				[(ngModel)]="tourDate" />
		</div>
		<div>
			<label for="name">Name</label>
			<input
				type="text"
				id="name"
				[(ngModel)]="tourName" />
		</div>
		<div>
			<label for="location">Location</label>
			<input
				type="text"
				id="location"
				[(ngModel)]="tourLocation" />
		</div>
		<div>
			<label for="price">Price</label>
			<input
				type="text"
				id="price"
				[(ngModel)]="tourPrice" />
		</div>
		<div>
			<label for="duration">Duration</label>
			<input
				type="text"
				id="duration"
				[(ngModel)]="tourDuration" />
		</div>
		<div>
			<button
				class="btn btn-primary"
				(click)="addTour()">
				Add Tour
			</button>
		</div>
	</div>
</main>
