<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Course List</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Teacher</th>
                            <th>Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of courses">
                            <td>{{ course.id }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.teacher }}</td>
                            <td>{{ course.credit }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <label for=""></label>
            <input type="text" class="form-control" placeholder="Course ID" [(ngModel)]="id">
        </div>
        <div>
            <label for=""></label>
            <input type="text" class="form-control" placeholder="Course Name" [(ngModel)]="name">
        </div>
        <div>
            <label for=""></label>
            <input type="text" class="form-control" placeholder="Teacher" [(ngModel)]="teacher">

        </div>
        <div>
            <label for=""></label>
            <input type="number" class="form-control" placeholder="Credit" [(ngModel)]="credit">
        </div>
        <div>
            <button class="btn btn-primary" (click)="addCourse()">Add Course</button>
        </div>
    </div>

</main>
