<main>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Game List</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Description</th>
							<th>Platform</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let game of games">
							<td>{{ game.id }}</td>
							<td>{{ game.name }}</td>
							<td>{{ game.description }}</td>
							<td>{{ game.platform }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<label for="id"> ID </label>
			<input
				id="id"
				type="number"
				class="form-control"
				[(ngModel)]="id" />
		</div>
		<div>
			<label for="name"> Name </label>
			<input
				id="name"
				type="text"
				class="form-control"
				[(ngModel)]="name" />
		</div>
		<div>
			<label for="description"> Description </label>
			<input
				id="description"
				type="text"
				class="form-control"
				[(ngModel)]="description" />
		</div>
		<div>
			<label for="platform"> Platform </label>
			<input
				id="platform"
				type="text"
				class="form-control"
				[(ngModel)]="platform" />
		</div>
		<div>
			<button
				class="btn btn-primary"
				(click)="addGame()">
				Add Game
			</button>
		</div>
	</div>
</main>
